.choose-section {
  padding: 6rem 0;
  color: #010103;
  font-family: "Rubik", sans-serif;
  background: url("./images/chooseUs/bg.png");
  background-size: cover;

  .choose-content {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      padding: 1rem 0;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      align-items: center;
      
      &__left {
        display: flex;
        flex-direction: column;
        max-width: 32rem;
        gap: 1rem;

        h4 {
          font-size: 1.4rem;
        }

        h2 {
          font-family: "Poppins", sans-serif;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.3;
        }

        p {
          color: #706f7b;
          line-height: 1.5;
        }
        a {
          text-decoration: none;
          color: #fff;
          background: #ff4d30;
          width: max-content;
          margin: auto;
          padding: 1rem 1.5rem;
          font-size: 1.2rem;
          font-weight: 700;
          box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
          border-radius: 10px;
          &:hover {
            background-color: #e9381d;
          }
          @media (min-width:1000px) {
            margin: 0;    
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 26rem;

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: "Poppins", sans-serif;

          img {
            width: 7rem;
          }
          &__text {
            h4 {
              font-size: 1.6rem;
            }
            p{
                color: #706f7b;
                font-weight: 500;
                font-size: 1rem;
            }
          }
          @media (min-width:680px) {
            flex-direction: row;
          }
        }
      }
      @media (min-width:1000px) {
        flex-direction: row;
        justify-content: center;
        text-align: start;

      }
    }
  }
}
