.download{
    background-image: none;
    background-color: #f8f8f8;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 6rem 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;

    &-content{
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        max-width: 30rem;
        margin: 0 auto;
        text-align: center;
        line-height: 1.4;

        h2{
            font-size: 2.6rem;
            font-family: 'Poppins', sans-serif;
        }
        p{
            font-size: 1rem;
            color: #706f7b;
        }

        &__btns{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                width: 14rem;
            }
        @media (min-width:700px) {
            flex-direction: row;
        }
        }

        @media (min-width:700px) {
            margin: 0;
        }
    }
    @media (min-width:700px) {
        background-image: url('./images/banners/bg02.png');
    }
}