footer {
  background: #fff;
  padding: 6rem 0;

  .footer-content {
    display: grid;
    color: #010103;
    gap: 4rem;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    &__1 {
      list-style: none;
      li:first-child {
        font-size: 1.6rem;
        margin-bottom: 0.9rem;

        span {
          font-weight: 700;
        }
      }
      li:nth-child(2) {
        color: #707f7b;
        line-height: 1.7;
        font-size: 1rem;
        margin-bottom: 1.6rem;
      }
      li:nth-child(3),
      li:nth-child(4) {
        font-family: "Rubik", sans-serif;
        font-size: 1.15rem;
        font-weight: 500;
      }
    }
    &__2 {
      list-style: none;
      li {
        margin-bottom: 0.6rem;
      }
      li:first-child {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    input {
      background-color: #ececec;
      border-color: transparent;
      border-width: 1px;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      padding: 10px 60px;
      width: 100%;
      line-height: 27px;
      outline: none;
      margin-top: 0.6rem;
    }
    .submit-email {
      background: #ff4d30;
      border-color: transparent;
      border-width: 1px;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      padding: 10px 60px;
      width: 100%;
      line-height: 27px;
      outline: none;
      margin-top: 0.9rem;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        background-color: #e9381d;
      }
    }
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      justify-items: flex-start;
    }
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  li a {
    color: #010103;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: #ff4d30;
    }
  }
}
