.pick-section {
  padding: 6rem 0;
  font-family: "Poppins", sans-serif;
  color: #010103;

  .pick-content {
    display: flex;
    flex-direction: column;

    &__title {
      color: #010103;
      margin: 0 auto 3rem;
      text-align: center;
      max-width: 35rem;
      h3 {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
      }
      h2 {
        margin: 0.3rem 0 0.4rem;
        font-size: 2.9rem;
        font-weight: 700;
      }
      p {
        color: #706f7b;
        font-size: 1.1rem;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
      }
    }
    &__car {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;

      .pick-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        button {
          border: 2px solid transparent;
          min-width: 15rem;
          padding: 0.7rem 1.5rem;
          text-align: start;
          font-size: 1.3rem;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          @media (min-width: 1000px) {
            font-weight: 500;
          }
          &:hover {
            background: #ff4d30;
            color: #fff;
          }
        }
        .coloured {
          background: #ff4d30;
          color: #fff;
          font-weight: 700;
        }
      }
      .car-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .picked-car {
          width: 100%;
          padding: 2rem 0.5rem;
          img {
            width: 100%;
            max-width: 33rem;
            // margin-left: 1rem;
          }
        }
        .picked-desc {
          width: 30rem;
          .price {
            display: flex;
            align-items: center;
            // justify-content: center;
            background: #ff4d30;
            padding: 0.2rem 1.5rem;
            color: #fff;
            font-size: 1.2rem;
            span {
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
          .table {
            display: grid;
            &__col {
              border-bottom: 2px solid #706f7b;
              display: grid;
              grid-template-columns: 1fr 1fr;
              text-align: center;
              border-left: 2px solid #706f7b;
              padding: 0.5rem;
              border-right: 2px solid #706f7b;

              span:first-child {
                border-right: 2px solid #706f7b;
              }
            }
          }
          .cta-btn {
            display: flex;
            text-align: center;
            width: 100%;
            justify-content: center;
            margin-top: 1rem;
            background: #ff4d30;
            text-decoration: none;
            color: #fff;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            box-shadow: 6px 6px 0 #efe9e9;

            &:hover {
              background-color: #e9381d;
            }
          }
        }
        @media (min-width: 680px) {
          flex-direction: row;
          gap: 5rem;
        }
        // @media (min-width:650px) {

        // }
      }
      @media (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
