.testimonial{
    background: #f8f8f8;
    color: #010103;
    padding: 6rem 0;
    font-family: 'Rubik', sans-serif;

    &-content{
        display: flex;
        flex-direction: column;

        &__title{
            text-align: center;
            max-width: 39rem;
            margin: 0 auto 3rem;

            h4{
                font-size: 1.4rem;
                font-weight: 500;
            }
            h2{
                font-family: 'Poppins', sans-serif;
                font-size: 2.8rem;
                margin: 0 auto 1rem;
            }
            p{
                color: #706f7b;
                font-size: .95rem;
                line-height: 1.4;
            }
        }
        .all-testimonial{
            display: flex;
            flex-direction: column;
            gap: 1.7rem; 
            margin: auto;
            width: 100%;
            font-family: 'Poppins', sans-serif;
            max-width: 32rem;
            @media (min-width:800px) {
                flex-direction: row;
                max-width: max-content;
                .box-2{
                    display: block;
                }
            }

            &__box{
                position: relative;
                background-color: #fff;
                box-shadow: 0 20px 40px 0 rgba(0,0,0,0.08);
                padding: 4rem 2.5rem;
                max-width: 35rem;

                .quote-icon{
                    position: absolute;
                    bottom: 20%;
                    right: 10%;
                    i{
                        color: #ff4d30;
                        font-size: 4rem;
                    }
                }
                
                p{
                    font-size: 1.35rem;
                    font-weight: 500;
                    line-height: 1.6;
                }

                &__name{
                    display: flex;

                    &__profile{
                        display: flex;
                        gap: 1.4rem;
                        margin-top: 1.7rem;
                        align-items: center;

                        img{
                            width: 4.5rem;
                            border-radius: 50%;
                        }
                        h4{
                            font-family: 'Rubik',sans-serif;
                            font-size: 1.2rem;
                        }
                        p{
                            font-size: 0.95rem;
                            text-transform: capitalize;
                            color: #706f7b;
                        }
                    }
                }
            }
        }

    }
    .box-2{
        display: none;
    }
}