.team-content{
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    .box{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: max-content;
        box-shadow: 0 10px 20px rgba(0,0,0,0.9);
        margin: auto;
        img{
            width: 100%;
            background: #eee;
        }
        h4{
            margin-top: 0;
            font-size: 1.4rem;
        }
        p{
            color: #ababab;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
    }
    @media (min-width:900px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width:1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}