@import "./Styles/_Navbar";
@import "./Styles/_Hero";
@import "./Styles/_Booking";
@import "./Styles/_Plan";
@import "./Styles/_Pick";
@import "./Styles/_ChooseUs";
@import "./Styles/_Testimonial";
@import "./Styles/_Faq";
@import "./Styles/_Download";
@import "./Styles/_Footer";
@import "./Styles/_HeroPage";
@import "./Styles/_About";
@import "./Styles/_Models";
@import "./Styles/_Team";
@import "./Styles/_Contact";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #ff4d30;
    border-radius: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto !important;
  max-width: 120rem !important;
  padding: 0 1.7rem !important;
}
