@import "./Styles/_Navbar";
@import "./Styles/_Hero";
@import "./Styles/_Booking";
@import "./Styles/_Plan";
@import "./Styles/_Pick";
@import "./Styles/_ChooseUs";
@import "./Styles/_Testimonial";
@import "./Styles/_Faq";
@import "./Styles/_Download";
@import "./Styles/_Footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto !important;
  max-width: 120rem !important;
  padding: 0 1.7rem !important;
}
